.new-order {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
}
.new-order button {
  height: 35px;
}
.new-order__product-add {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}
.new-order__product-add > span {
  font-size: 16px;
  font-weight: 700;
}
.add-order-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 80vw;
  height: 300px;
  padding: 8px 12px;
}
.add-order-product > p {
  font-size: 16px;
  font-weight: 700;
  color: var(--accent-color);
}
.new-order__product-list {
  height: 40vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  background-color: #c9c1c15b;
  border-radius: 8px;
}
.css-1808mag-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}
.ispaid-label {
  font-size: 16px;
}
.order-switches {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
}
.order-switch {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.253);
  padding: 4px;
  border-radius: 8px;
}
.add-order-product-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.new-order-product-unit {
  display: flex;
  align-items: center;
  font-size: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.253);
  padding: 4px;
  min-width: 30px;
}
.ordered-product-details {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  overflow: auto;
  width: 100%;
}

.product-edit-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
  width: 100%;
}
.product-edit-info p {
  align-self: end;
  font-size: 12px;
}
.total-order-price-amount {
  font-weight: bold;
  color: rgba(22, 22, 22, 0.849);
}
.total-order-price {
  position: sticky;
  bottom: 1px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  text-align: end;
  font-size: 16px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.178);
  z-index: 3;
}
.new-order__client-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
}
.order-payment-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  background-color: white;
  border-radius: 8px;
}
.order-payment-data > div {
  border-radius: 8px;
  width: 100%;
}
.order-action-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 8px;
}
.client-name {
  width: 40%;
}
.new-order .MuiAccordionSummary-content {
  width: 85%;
}
.new-order__product-list .MuiButtonBase-root {
  padding: 0px 6px !important;
}
