.notification-toast {
  width: 300px;
  z-index: 2000 !important;
}
.notification-toast svg {
  position: relative;
  left: 5px;
  width: 20px;
}
.notification-toast .p-toast-message-text {
  position: relative;
  left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
.notification-toast .p-toast-message-content {
  height: 50px;
}
.notification-toast .p-toast-summary {
  display: none;
}

.notification-toast .p-toast-message-content > svg {
  position: relative;
  top: 8px;
  left: 8px;
}
