.navbar button:focus {
  outline: none;
  border: none;
}
.add-order path {
  fill: var(--accent-color);
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
  width: 100%;
  bottom: 1px;
  position: sticky;
  z-index: 4;
  background-color: white;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 50px;
}
.view-active path {
  fill: var(--accent-color);
}
.nav-btn svg {
  fill: rgba(0, 0, 0, 0.692);
}
