.history-main {
  height: 100%;
}

.order-data-table {
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  height: 100%;
}
.order-data-table .p-datatable-wrapper {
  height: calc(100% - 120px);
}
.order-data-table tr > * {
  padding: 8px;
  font-size: 12px;
}
.order-data-table tr > td {
  padding: 0px 8px;
  font-size: 12px;
}
.order-data-table tr > td {
  height: 40px;
}

.edit-order-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 90vw;
  padding: 8px 12px;
  background-color: white;
  border-radius: 8px;
  min-height: 50ch;
}
.edit-order-modal-header {
  display: flex;
  color: rgb(170, 170, 170);
}
.edit-order-modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: var(--accent-color);
  justify-content: space-between;
  width: 100%;
}
.edit-order-modal-header svg {
  position: relative;
  bottom: 5px;
}
.product-list-container {
  height: 40vh;
  border-bottom: 1px solid rgba(172, 171, 171, 0.5);
  overflow: auto;
}
.product-list-item,
.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-list-item > span,
.product-info > span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
.product-list-item h1,
.product-info h1 {
  font-size: 12px;
}
.edit-order-data-table {
  font-size: 12px;
}

.edit-order-data-table th,
.edit-order-data-table td {
  padding: 4px;
}
.user-and-payment-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}
.input-payment {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}
.input-payment * {
  font-size: 12px !important;
}
.history-modal-action-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 22px;
}
.product-info-total {
  justify-content: space-between;
}
.ordered-product-detail-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}
.history-total-ellipsis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.history-total-ellipsis > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60px;
  font-size: 11px;
}
.history-total-ellipsis > div:first-child {
  font-weight: bold;
}
.history-client-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 55px;
}
.status-and-date {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 50px;
}
.status-and-date .date-format {
  font-size: 10px;
  text-wrap: nowrap;
}
.edit-order-total-labels {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
