::before,
:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --primary-color: rgba(252, 252, 252, 0.884);
  --secondary-color: #000000;
  --accent-color: #1565c088;
}

html {
  background-image: url("../public/wallpaper.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}
.css-10d30g3-MuiPaper-root-MuiDialog-paper {
  overflow-y: unset !important;
  overflow: unset !important;
}
.MuiButtonBase-root,
.MuiPaper-elevation {
  border-radius: 8px !important;
}
.select-dropdown {
  width: 100%;
}
.app-layout footer {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.gap-4 {
  gap: 4px;
}
.gap-6 {
  gap: 6px;
}
.gap-8 {
  gap: 8px;
}
.align-end {
  align-self: flex-end;
}
.header-font {
  font-size: 16px;
}
.sub-header-font {
  font-size: 14px;
}
.body-font {
  font-size: 12px;
}
