.main-layout {
  background-image: url("../public/wallpaper.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.app-layout {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
}
.main-conten {
  height: 100%;
}
