.product-datatable {
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  height: 100%;
}
.product-datatable .p-datatable-header button {
  height: 35px;
}
.product-datatable .p-datatable-header input {
  padding: 0px 8px;
  height: 35px;
  padding: 0px 8px;
}
.product-datatable .p-datatable-header {
  padding: 0px 8px;
  border-radius: 8px;
}
.product-table-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 8px;
  height: 60px;
  margin-top: 4px;
}
.add-product button {
  height: 30px;
  width: 30px;
  font-size: 8px;
}
.product-datatable tr > * {
  padding: 8px;
  font-size: 12px;
}
.product-datatable tr > td {
  font-size: 12px;
  height: 40px;
}
.add-product-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 80vw;
  padding: 8px 12px;
  border-radius: 8px;
}
.add-product-modal .MuiFormControl-root,
.add-product-modal .MuiInputBase-root {
  width: 100%;
}

.add-product-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  font-weight: 700;
  color: gray;
}
.add-product-modal-header p {
  text-align: center;
  color: var(--accent-color);
  width: 100%;
  position: relative;
  left: 10px;
}
.add-product-modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.add-product-modal-actions button {
  font-size: 12px;
}
